<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api Docs</title>
    <link rel="stylesheet" href="css/home.css">
  <script src="js/home.js"></script>
</head>
<body>
    <div>
        <div id='background'>
          <div id='green-line'></div>
        </div>
        <div id="squares"></div>
    </div>
    <main>
      <section>
        <h1>API DOCS</h1>
        <p>This system combines HTTP endpoints and WebSockets to provide an efficient experience. HTTP endpoints handle user management, contacts, and retrieving previous messages, while WebSockets manage all real-time communication, such as sending and receiving instant messages. This architecture ensures smooth interaction and immediate updates for users.</p>
        <article id="links">
          <div class="api-doc">
            <h3>HTTP ENDPOINTS</h3>
            <a href="/docs">
              <img src="images/http.svg" alt="Docs" title="HTTP endpoints">
            </a>
          </div>
          <div class="api-doc">
            <h3>WEBSOCKETS EVENTS</h3>
            <a href="/docs">
              <img src="images/socket.svg" alt="Docs" title="WebSockets events">
            </a>
          </div>
        </article>
      </section>
    </main>
</body>
</html>